<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>Transcompile</title>
    <style>
        h1 {
            font-family: Arial;
            color: #409EFF;
        }
    </style>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import axios (a http library) -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div style="text-align: center;">
        <h1>Welcome to our transcompile website</h1>
    </div>



    <el-button type="primary" id="compile" style="margin: 5px;" @click="compileCode">编译/运行</el-button>
    <!-- <el-input type="submit" value="编译/运行" style="margin: 5px;width: 10%;" id='submit'>
        </el-input> -->
    <template id="select">
        <el-select v-model="value" placeholder="请选择代码语言">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
    </template>
    <el-button type="primary" id="transform" style="margin: 5px;" @click="transformCode">转换代码</el-button>

    <template id="transform_select">
        <el-select v-model="value" placeholder="请选择目标代码语言">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
    </template>
    <br />
    <el-input type="textarea" :rows="10" v-model="textarea" id='code' style="width: 40%;" placeholder="请输入代码">
    </el-input>
    <el-input type="textarea" :rows="10" v-model="textarea" id='result' style="width: 40%;margin-left: 10%;" placeholder="编译/运行结果">
    </el-input>

    <br />

    <el-button type="primary" id="compile2" style="margin: 5px;" @click="compileCode">编译/运行</el-button>
    <!-- <el-input type="submit" value="编译/运行" style="margin: 5px;width: 10%;" id='submit'>
        </el-input> -->
    <br />
    <el-input type="textarea" :rows="10" v-model="textarea" id='code2' style="width: 40%;" placeholder="转换后的代码">
    </el-input>
    <el-input type="textarea" :rows="10" v-model="textarea" id='result2' style="width: 40%;margin-left: 10%;" placeholder="编译/运行结果">
    </el-input>

    <script>
        var compile = new Vue({
            el: '#compile',
            methods: {
                compileCode: function () {
                    var sourceCode = source.textarea;
                    // console.log(sourceCode);
                    axios({
                        method: 'post',
                        url: '/compile/',
                        data: {
                            code: sourceCode,
                            language: select.value,
                        }
                    }).then(function (response) {
                        console.log(response);
                        source.textarea = response.data.source;
                        result.textarea = response.data.result;
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
        });

        var select = new Vue({
            el: '#select',
            data: {
                options: [{
                        value: 'python',
                        label: 'python'
                    },
                    {
                        value: 'c++',
                        label: 'c++'
                    },
                    {
                        value: 'java',
                        label: 'java'
                    },
                ],
                value: ''
            }
        });

        var transform = new Vue({
            el: '#transform',
            methods: {
                transformCode: function () {
                    var sourceCode = source.textarea;
                    // console.log(sourceCode);
                    axios({
                        method: 'post',
                        url: '/transform/',
                        data: {
                            code: sourceCode,
                            source_language: select.value,
                            target_language: transform_select.value,
                        }
                    }).then(function (response) {
                        console.log(response);
                        source.textarea = response.data.source;
                        source2.textarea = response.data.result;
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
        });

        var transform_select = new Vue({
            el: '#transform_select',
            data: {
                options: [{
                        value: 'python',
                        label: 'python'
                    },
                    {
                        value: 'c++',
                        label: 'c++'
                    },
                    {
                        value: 'java',
                        label: 'java'
                    },
                ],
                value: ''
            }
        });

        var source = new Vue({
            el: '#code',
            data: {
                textarea: ''
            }
        });

        var result = new Vue({
            el: '#result',
            data: {
                textarea: ''
            }
        });


        var compile2 = new Vue({
            el: '#compile2',
            methods: {
                compileCode: function () {
                    var sourceCode = source.textarea;
                    // console.log(sourceCode);
                    axios({
                        method: 'post',
                        url: '/compile/',
                        data: {
                            code: sourceCode,
                        }
                    }).then(function (response) {
                        console.log(response);
                        source.textarea = response.data.source;
                        result.textarea = response.data.result;
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
        });

        var source2 = new Vue({
            el: '#code2',
            data: {
                textarea: ''
            }
        });

        var result2 = new Vue({
            el: '#result2',
            data: {
                textarea: ''
            }
        });
    </script>
</body>

</html>